<link rel="stylesheet" href="/css/home.css">
<div id='home'>

<%if(!locals.user){%>
        <h1> Social/home </h1>        
<%}%>


<% if(locals.user) {%>
    

<div id='All-post-comment'>
        <h3> POST HERE ! </h3>
        <form action='/posts/create' method="POST">
        <textarea name="content" rows="5" cols="40" placeholder="Type here..."> </textarea><br><br>
        <input type="submit" value="POST">
        </form>

<ul>
 <%for(post of posts){%>
            <li>    
                   <%if(post.usr.id==locals.user.id){%>    
                    <a href="/posts/delete/?id=<%=post.id%>"> X </a>
                    <%}%>
                    name : <small> <%= post.usr.username %> </small> <br>
                        post : <%= post.content%> <br> <br>
                <ul>
                        
                        <%for(comment of post.commentidarray){%>
                                <li> 
                                        <%if(comment.userid.id==locals.user.id){%>    
                                                <a href="/comments/delete/?id=<%=comment.id%>"> X </a>
                                                <%}%>
                                        <small> <%= comment.userid.username %> </small>
                                        <br>  <%= comment.content %>
                                </li>   
                        <%}%>
                </ul>
            </li>
     <br>
<div id='create-comment'>
        <form action='/comments/create' method="POST">
                <input name="content" placeholder="comment here...">
                <input type='hidden' name='postid' value='<%= post._id %>'>
                <input type="submit" value="comment">
        </form>
</div>
<%}%>
</ul>   
</div>


        <div id='friends'>
                <h3> Friends </h3>
         <%for(u of all_users){%>
            <p>
             <a href="/users/profile/?id=<%=u.id%>">  <%=u.username%> </a>
            </p>       
         <%}%>
       
        </div>
<%}%>
</div>