<html>
    <head>
        <title>  <%= title %>  </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/layout.css">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">
        <%- style%>
    </head>
    <body>
        <%-include('_header');%>
        <%-(body)%>
        <%-include('_footer');%>
        <%- script%>
    </body>
</html>